server:
  port: 8081
  servlet:
    context-path: /closedcart/api

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring:
  application:
    name: products-server
  boot:
    admin:
      client:
        url: http://localhost:8082
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/MotoCartEnterprise
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true

logging:
  level:
    root: INFO